<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>PERSONAL Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="profile">
      <p class="hello"> Hello Guys..
      Welcome To My Profile </p>
    </div>
    <div class="container">
      <div class ="box1">
        <div class="overall"></div>
        <div class="box1_profile">
          <img src="../static/images/saya.jpg">
          <p><h3>~ Rukmi indrastuti ~</h3>
          Python Programmer</p>
        </div>
      </div>
      <div class="box2">
        <div class="in_box2">
          <div class="box2_in">
            <h2> Personal Information </h2><br>
            <p class="infobox">Birthday : 22 Januari 2002</p>
            <p class="infobox">Phone : +62 89803185030</p>
            <p class="infobox">Email : rukmindrastuti22@gmail.com</p>
            <p class="infobox">Addres : Surakarta</p>
         </div>
          <div class="box2_in">
            <h2>An About Me</h2><br>
            <p class="an_box2">Hello..!! <br> I'm Rukmi Indrastuti I'm from Surakarta, My hobby is Reading and Gaming, I'm Graduate from SMK5 Surakarta of Department Electronica Industrion, Why im learn Web Development because, Only mastering one programming language feels less, Therefore I learn Web Development from Dicoding</p>
          </div>
          <div class="box2_in" id="tambahan">
            <h2> Formal Educations</h2><br>
            <p> SMK Negeri 5 Surakarta 2017 - 2020</br>Elektronika Indrusti (Electronics Industrion)</p>
          </div>
          <div class="box2_in">
            <h2>Experience</h2><br>
            <ul>
              <li>Data Scientist </br>Digital Talent Scholarship: FGA September - Oktober 2020</li>
              <li>PT. Angkasa Pura 1 Surakarta</br>Internship January - April 2019</li>
            </ul>
          </div>
          </div>
        </div>
      </div>

      <div class="box_3">
        <div class="fol" align="center"><img src="../static/images/foll1.png"></div>
        <div class="follow">
          <ul>
            <li> <a href="https://github.com/kroemen" target="_blank"><img src="../static/images/git.png"</a></li>
            <li> <a href="https://facebook.com" target="_blank"><img src="../static/images/fb.png"></a></li>
            <li> <a href="https://twitter.com" target="_blank"><img src="../static/images/tw.png"></a></li>
            <li> <a href="https://discord.com" target="blank"><img src="../static/images/discord.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <p style="font-size:20px;"> &copy; 2021 - Rukmi Indrassh ~ 頑張って欲しい ~ </p>
    </div>
    
  </body>
</html>
